<!DOCTYPE html>
<html ng-app="tinyHabitsTracker">

<head>
    <script data-require="jquery@*" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script data-require="bootstrap@*" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <script src="room.js"></script>
</head>

<body ng-controller="roomCtrl">
  <div class="container">
    <h1>&nbsp;&nbsp;Tiny Habits Tracker</h1>
    <br />
    <label for="habit">&nbsp;&nbsp;New Habit:</label>
    <input type="text" ng-model="room" />
    <button id="habitBtn" ng-click="addHabit(habit)">Add Habit</button>
    {{ habit }}
    <br />
    <br />
    <label for="name">&nbsp;&nbsp;Behavior:</label>
    <input type="text" ng-model="name" />
    <button id="nameBtn" ng-click="addName(name)">Add Behavior</button>
    {{ behavior }}
    <br />
    <br />
    <label for="count">&nbsp;&nbsp;Trigger:</label>
    <input type="number" ng-model="count" />
    <button id="countBtn" ng-click="addCount(count)">Add Trigger</button>
    {{ trigger }}
    <br />
    <br />
    <label for="name">&nbsp;&nbsp;Reward:</label>
    <input type="number" ng-model="cost" />
    <button id="nameBtn" ng-click="addName(name)">Reward</button>
    {{ cost | currency }}
     <br />
    <br />
    <label for="completed"> &nbsp;&nbsp;Completed: &nbsp;&nbsp;</label>
    <input type="checkbox" id="completed">
     <br />
    <br />
    <table>
      <thead>
        <tr>
          <th>&nbsp;&nbsp;Date:&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>&nbsp;&nbsp;Habit:&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>&nbsp;&nbsp;Complete:&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5-24-2015&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;Daily walks&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;X&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
      </tbody>
    </table>
   
  </div><!--end container-->
</body>
</html>
