<!DOCTYPE html>
<html ng-app="tinyHabits">

<head>
  <script data-require="jquery@2.1.3" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css" />
  <script data-require="bootstrap@*" data-semver="3.3.2" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script data-require="angular.js@*" data-semver="1.4.0-rc.0" src="https://code.angularjs.org/1.4.0-rc.0/angular.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>
<body ng-controller='habitCtrl'>
  <div class="container">
    <h1> Tiny Habit Tracker </h1>
    <h4>Based on the Work of BJ Fogg</h4>
    <div class="row" ng-hide="display">
      <label for="room">New Habit Name:</label>
      <input type="text" id="habitName" ng-model="habit.name" />
      <label for="room">New Habit Tiny Action:</label>
      <input type="text" id="room" ng-model="habit.tinyAction" />
      <label for="room">New Habit Trigger:</label>
      <input type="text" id="room" ng-model="habit.trigger" />
      <br />
      <label for="room">New Habit compliment:</label>
      <input type="text" id="room" ng-model="habit.compliment" />
      <!-- <input type="date" id="date" ng-model="habit.date" /> -->
      <button ng-hide="habit.$id" id="newHabit" ng-click="addHabit(habit)" type="submit" class="btn btn-primary">Add Habit</button>
      <button ng-show="habit.$id" id="updateHabit" ng-click="updateHabit(habit)" type="submit" class="btn btn-primary">Update Habit</button>
      <table id="fbList" class="table" >
         <thead>
          <tr>
            <th>Habit Name</th>
            <th>Tiny Action</th>
            <th>Trigger</th>
            <th>Compliment</th>
            <th>Date</th>
            <th>Completed</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tr ng-repeat='h in habitList track by $index' ng-hide="checked">
          <td><a href="#" ng-click="showDetails(h)" >{{h.name}}</a></td>
          <td>{{h.tinyAction}}</td>
          <td>{{h.trigger}}</td>
          <td>{{h.compliment}}</td>
          <td>{{h.date | date}}</td>
          <td><input type="checkbox" ng-model="checked" /></td>
          <td><button ng-click="editHabit(h)" class="btn btn-info btn-xs">Edit Habit  </button>
            <td><button ng-click="deleteHabit(h)" class="btn btn-warning btn-xs">Delete Habit  </button>
        </tr>
      </table>
    </div> <!-- row list view -->
    <div class="row" ng-show="display">
      <div id="details"><h5>Detail View</h5>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <ul>
            <li>{{habit.name}} </li>
            <li>{{habit.trigger}} </li>
            <li>{{habit.compliment}} </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <button type="submit" id="listBtn" ng-click="showList()"  class="btn btn-primary">Back to List View</button>
        </div>

      </div><!-- end row detail view-->

    </div>

  </div>

  <script src='bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>

</body>

</html>
