/* Styles go here */

#results {
  margin: 20px;
}
td {
  padding:10px;
}
th {
  font-weight: bold;
  color:blue;
}
h1, h4{
  text-align: center;
  /*margin:auto;*/
  margin:20px 10px;
}
input {
  margin: 10px 20px 10px 5px;

}
#ctaBtn {
  margin-top:30px;
}
.btn-block{
  margin:40px;
  width:65%;
  margin:auto;
  padding:20px;
  font-size: 26px;

}
#author{
  font-size: 20px;
  color:black;
}
blockquote {
  font-size: 36px;
  color:rgb(121, 13, 42);
  font-style: italic;
  font-family: helvetica;
  font-weight: bold;
}
#landingText {
  font-size:20px;
  margin:40px;
}

.navbar-header {
    margin:0;
    float:none;
}

.collapse{
    text-align:center;
}

pre {
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    background-color: #fafafa;
    border: 1px solid #999;
    display: block;
    border-radius: 10px;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}
.error {
    color: red;
}

a {
  color:black;
}
