/* Styles go here */

#results {
  margin: 20px;
}
td {
  padding:10px;
}
th {
  font-weight: bold;
  color:blue;
}
h1{
  text-align: center;
  /*margin:auto;*/
  margin:20px 10px;
}
input {
  margin: 10px 20px 10px 5px;

}
