<div class="container">
  <h1> Tiny Habit Tracker </h1>
  <h4>Based on the Work of BJ Fogg, Charles Duhigg and Others</h4>
  <!-- <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div><!-- end nav bar header  --> 

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="container">
    <ul class="nav navbar-nav ">
      <li class="active"><a ui-sref='home'>Home <span class="sr-only">(current)</span></a></li>
      <li><a ui-sref='new'>Create New Habit</a></li>
      <li><a ui-sref='habit'>Habit Detail</a></li>
      <li><a ui-sref='list'>Habit List</a></li>
      <li><a ui-sref='report'>Report</a></li>

    </ul>
  </div>
  </div>      <!-- /.navbar-collapse -->
</div>
