<div class="container">

  <h1>Home</h1>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>

  </div><!-- end nav bar header  -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a ui-sref='home'>Home <span class="sr-only">(current)</span></a></li>
      <li><a ui-sref='new'>Create New Habit</a></li>
      <li><a ui-sref='habit'>Habit Detail</a></li>
      <li><a ui-sref='list'>Habit List</a></li>
      <li><a ui-sref='report'>Report</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>      <!-- /.navbar-collapse -->

  <link rel="import" href="http://localhost:8000/views/nav/nav.html">


  <h2 ng-click='goToList()'>click here to Show List View</h1>

  <h2><a ui-sref='list'>List 2 </a></h2>
  <h3><a href='#/list'>List 2 </a></h3>
</div><!-- end container  -->
