<div class="container" id="landingText">

  <!-- <h2 ng-click='goToList()'>click here to Show List View</h1>

  <h2><a ui-sref='list'>List 2 </a></h2>
  <h3><a href='#/list'>List 2 </a></h3> -->
  <blockquote>
    “Change might not be fast and it isn't always easy. But with time and effort, almost any habit can be reshaped.”
  <p id="author">  ― Charles Duhigg, The Power of Habit <p>
  </blockquote>

  <p>
    A key to exercising regularly, losing weight, becoming more productive, building revolutionary
    companies and social movements, and achieving success all around is understanding how habits work.
  </p>
  <p>
Habits aren’t destiny. As Charles Duhigg, BJ Fogg and others show, by harnessing this new science, we can transform our businesses, our communities, and our lives.
  </p>
  <p>
    Take a look around and try transforming your life with the power of habits, starting tiny....
  </p>
  <div id="ctaBtn">
    <button id="newHabit" ng-click="startNewHabit()" type="submit" class="btn btn-primary btn-block">Create a New Habit</button>
  </div>
</div><!-- end container  -->
