<div class="container">
  <div class="row" ng-hide="display">
    <form>
        <div class="form-group">
          <label for="habitName">New Habit Name:</label>
          <input type="text" id="habitName" class="form-control" placeholder="habit name" ng-model="habit.name">
        </div>
        <div class="form-group">
          <label for="habitAction">Habit tiny action</label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="habit action" ng-model="habit.tinyAction">
        </div>
        <div class="form-group">
          <label for="habitTrigger">Habit Trigger/pre step</label>
          <input type="text" id="habitTrigger" class="form-control" placeholder="habit trigger" ng-model="habit.trigger">
        </div>
        <div class="form-group">
          <label for="habitReward">Habit Trigger/pre step</label>
          <input type="text" id="habitReward" class="form-control" placeholder="habit Reward" ng-model="habit.compliment">
        </div>
         <!-- <div class="form-group">
          <label for="habitReward">habit reward</label>
          <select id="habitReward" class="form-control" ng-model="habit.compliment">
            <option>habit reward</option>
          </select>
        </div> -->
        <div class="checkbox">
          <label>
            <input type="checkbox">Complete
          </label>
        </div>
        <button ng-hide="habit.$id" id="newHabit" ng-click="addHabit(habit)" type="submit" class="btn btn-primary">Add Habit</button>
        <button ng-show="habit.$id" id="updateHabit" ng-click="updateHabit(habit)" type="submit" class="btn btn-primary">Update Habit</button>
    </form>
  </div>

</div><!-- /.container -->
