<div class="container">
  <h1> Tiny Habit Tracker </h1>
  <h4>Based on the Work of BJ Fogg, Charles Duhigg and Others</h4>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- <a class="navbar-brand" href="#">Brand</a> -->

  </div><!-- end nav bar header  -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a ui-sref='home'>Home <span class="sr-only">(current)</span></a></li>
      <li><a ui-sref='new'>Create New Habit</a></li>
      <li><a ui-sref='habit'>Habit Detail</a></li>
      <li><a ui-sref='list'>Habit List</a></li>
      <li><a ui-sref='report'>Report</a></li>

    </ul>

  </div>      <!-- /.navbar-collapse -->



  <div class="row" ng-hide="display">

    <form>
        <div class="form-group">
          <label for="habitName">New Habit Name:</label>
          <input type="text" id="habitName" class="form-control" placeholder="habit name" ng-model="habit.name">
        </div>
        <div class="form-group">
          <label for="habitAction">Habit tiny action</label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="habit action" ng-model="habit.tinyAction">
        </div>
        <div class="form-group">
          <label for="habitTrigger">Habit Trigger/pre step</label>
          <input type="text" id="habitTrigger" class="form-control" placeholder="habit trigger" ng-model="habit.trigger">
        </div>
        <div class="form-group">
          <label for="habitReward">Habit Trigger/pre step</label>
          <input type="text" id="habitReward" class="form-control" placeholder="habit Reward" ng-model="habit.compliment">
        </div>
         <div class="form-group">
          <label for="habitReward">habit reward</label>
          <select id="habitReward" class="form-control" ng-model="habit.compliment">
            <option>habit reward</option>
          </select>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox">Complete
          </label>
        </div>
        <button ng-hide="habit.$id" id="newHabit" ng-click="addHabit(habit)" type="submit" class="btn btn-primary">Add Habit</button>
        <button ng-show="habit.$id" id="updateHabit" ng-click="updateHabit(habit)" type="submit" class="btn btn-primary">Update Habit</button>

    </form>
  </div>

</div><!-- /.container -->
